.hero__container h1 {
	text-align: center;
	font-size: 40px;
	margin-top: 50px;
	color: #333;
}

.hero__container p {
	font-size: 18px;
	line-height: 1.5;
	margin: 20px 0;
	color: #555;
}
