.loading.loading_message {
	margin: 5% 25%;
	background-color: rgba(229, 255, 186, 0.771);
	border-color: rgb(215, 245, 198);
	color: rgb(65, 216, 0);
	backdrop-filter: brightness(0.5) blur(5px);
	padding: 10px;
	border-radius: 10px;
	width: 50%;
}
